<a href="https://colab.research.google.com/github/bishwashpantha/House-Price-Prediction/blob/main/housing_model_comparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/content/properties_data.csv')
df.head(10)

,id,neighborhood,latitude,longitude,price,size_in_sqft,price_per_sqft,no_of_bedrooms,no_of_bathrooms,quality,...,private_pool,security,shared_gym,shared_pool,shared_spa,study,vastu_compliant,view_of_landmark,view_of_water,walk_in_closet
0,5528049,Palm Jumeirah,25.113208,55.138932,2700000,1079,2502.32,1,2,Medium,...,False,False,True,False,False,False,False,False,True,False
1,6008529,Palm Jumeirah,25.106809,55.151201,2850000,1582,1801.52,2,2,Medium,...,False,False,True,True,False,False,False,False,True,False
2,6034542,Jumeirah Lake Towers,25.063302,55.137728,1150000,1951,589.44,3,5,Medium,...,False,True,True,True,False,False,False,True,True,True
3,6326063,Culture Village,25.227295,55.341761,2850000,2020,1410.89,2,3,Low,...,False,False,False,False,False,False,False,False,False,False
4,6356778,Palm Jumeirah,25.114275,55.139764,1729200,507,3410.65,0,1,Medium,...,False,True,True,True,True,False,False,True,True,False
5,6356784,Palm Jumeirah,25.114275,55.139764,3119900,1015,3073.79,1,2,Medium,...,False,True,True,True,True,False,False,True,True,False
6,6356790,Palm Jumeirah,25.114275,55.139764,8503600,2062,4123.96,2,3,High,...,False,True,True,True,True,False,False,True,True,True
7,6356797,Palm Jumeirah,25.114275,55.139764,3119900,1015,3073.79,1,2,Medium,...,False,True,True,True,True,False,False,True,True,False
8,6376886,Palm Jumeirah,25.106668,55.149275,2100000,2186,960.66,3,3,Low,...,False,False,False,False,False,False,False,False,False,False
9,6406935,Downtown Dubai,25.194935,55.282665,2690000,1521,1768.57,2,3,Medium,...,False,False,True,True,False,False,False,False,True,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 38 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1905 non-null   int64
 1   neighborhood         1905 non-null   object
 2   latitude             1905 non-null   float64
 3   longitude            1905 non-null   float64
 4   price                1905 non-null   int64
 5   size_in_sqft         1905 non-null   int64
 6   price_per_sqft       1905 non-null   float64
 7   no_of_bedrooms       1905 non-null   int64
 8   no_of_bathrooms      1905 non-null   int64
 9   quality              1905 non-null   object
 10  maid_room            1905 non-null   bool
 11  unfurnished          1905 non-null   bool
 12  balcony              1905 non-null   bool
 13  barbecue_area        1905 non-null   bool
 14  built_in_wardrobes   1905 non-null   bool
 15  central_ac           1905 non-null   bool
 16  childrens_play_area  1905 non-null   bool
 17  childrens_pool       1905 non-null   bool
 18  concierge            1905 non-null   bool
 19  covered_parking      1905 non-null   bool
 20  kitchen_appliances   1905 non-null   bool
 21  lobby_in_building    1905 non-null   bool
 22  maid_service         1905 non-null   bool
 23  networked            1905 non-null   bool
 24  pets_allowed         1905 non-null   bool
 25  private_garden       1905 non-null   bool
 26  private_gym          1905 non-null   bool
 27  private_jacuzzi      1905 non-null   bool
 28  private_pool         1905 non-null   bool
 29  security             1905 non-null   bool
 30  shared_gym           1905 non-null   bool
 31  shared_pool          1905 non-null   bool
 32  shared_spa           1905 non-null   bool
 33  study                1905 non-null   bool
 34  vastu_compliant      1905 non-null   bool
 35  view_of_landmark     1905 non-null   bool
 36  view_of_water        1905 non-null   bool
 37  walk_in_closet       1905 non-null   bool
dtypes: bool(28), float64(3), int64(5), object(2)
memory usage: 201.0+ KB

In [5]:
df.describe()

,id,latitude,longitude,price,size_in_sqft,price_per_sqft,no_of_bedrooms,no_of_bathrooms
count,1.905000e+03,1905.000000,1905.000000,1.905000e+03,1905.000000,1905.000000,1905.000000,1905.000000
mean,7.573308e+06,25.116538,55.212338,2.085830e+06,1417.050394,1327.243785,1.793176,2.512861
std,1.925252e+05,0.062647,0.068794,2.913200e+06,891.487639,668.473559,0.949489,1.063117
min,5.528049e+06,24.865992,55.069311,2.200000e+05,294.000000,361.870000,0.000000,1.000000
25%,7.560167e+06,25.072791,55.145389,8.900000e+05,840.000000,870.920000,1.000000,2.000000
50%,7.631829e+06,25.096700,55.207506,1.400000e+06,1271.000000,1169.590000,2.000000,2.000000
75%,7.670328e+06,25.188130,55.271797,2.200000e+06,1703.000000,1622.500000,2.000000,3.000000
max,7.706643e+06,25.273623,55.441623,3.500000e+07,9576.000000,4805.870000,5.000000,6.000000